<div class="container">

    <h1>Your Node Express App</h1>

	{{#if session.user}}
    Welcome {{session.user.identity}}
		{{#if session.user.identityConfirmed}}
		<div>
			<ul>
				{{#unless session.user.rkCode}}
				<li>
			    	<a href="/auth/runkeeper">Connect with Runkeeper</a>
				</li>
				{{/unless}}
				<a href="/auth/google">Connect with Google</a>

				<li>
					<a href="/auth/logout">Sign Out</a>
				</li>
			</ul>
		</div>
		{{else}}
		<div>
			<form action="/auth/activate" method="POST">
				<input type="text" name="activationCode" />
				<input type="submit" value="Go" />
			</form>
		</div>
		<div>
			<a href="/auth/resendActivationEmail">Resend activation email<a>
		</div>
		{{/if}}
	{{else}}
	<ul>
    	<li>
		    <a href="/auth/login">Sign In</a>
		</li>
    	<li>
		    <a href="/auth/register">Register</a>
		</li>
	</ul>    
	{{/if}}
</div>