<h2>Register</h2>
<form method="post" action="/auth/register">
	<input type="text" name="identity" />
	<input type="password" name="password" />
	<input type="password" name="pwRepeat" />
	<input type="submit" value="Go" />
</form>
{{registrationError}}
